<!DOCTYPE html>
<html>
  <head>
    <title>Asado</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%if user_signed_in?%>
    Hola <%= current_user.email%>
    <br>
    <%= link_to "Salir", destroy_user_session_path, method: :delete %>
    <br>
    <% else %>
    <%= link_to "Login", new_user_session_path %>
    <br>
    <%= link_to "Registrarse", new_user_registration_path %>
    <%end%>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>
  </body>
</html>
